bady {
    background-color: rgb(129, 70, 100);
}
ul, ol{
    color: aqua;
}
.filmy{
    color: blueviolet;
}

#unikat{
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
}
p{
    color: brown;
}

.sci-fi{
    color: blue;
}
zvyrazneny box{
    background-color: black;
    color: aliceblue;

}
.text{
    color: blue;

}
                                                                                                                                                   
                                                                                                                
                 
                         
                                                                                                                                                                        
                                                                                                                                                      
 
